<mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Home"> Content 1 </mat-tab>
                    <mat-tab label="localhost">
                        <div class="tabcontent">
                            <mat-card>
                                <mat-card-title>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Command" value="ls">
                                    </mat-form-field>
                                </mat-card-title>
                                <mat-card-content>
                                    <mat-form-field>
                                        <textarea matInput readonly="true" placeholder="Output:"></textarea>
                                    </mat-form-field>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <button mat-icon-button (click)="someFn()">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>